.articleContainer {
    margin: 20px;
    background-color: rgb(247, 247, 245);
}

.title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    color: rgb(151, 151, 151);
    margin-bottom: 10px;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}

.image {
    background-color: rgb(95, 130, 192);
    width: 600px;
    padding: 20px;
}

.content {
    width: 600px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 18px;
    border: 2px solid rgb(95, 130, 192);
}

.link,
a {
    margin-top: 10px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(10, 47, 232);
}

a:hover {
    color: rgb(7, 32, 162);
}

@media (max-width: 600px) {
    .title {
        font-size: 22px;
    }

    .image {
        width: 300px;
    }

    .content {
        width: 300px;
        font-size: 16px;
    }
}
